:root{
    --p1-c:rgba(0,150,255,.75);         /*var(--p1-c) -> (0,150,255,.75)*/
    --p2-c:rgba(0,255,200,.75);         /*var(--p2-c) -> (0,255,200,.75)*/
    --p3-c:rgba(150,100,250,.75);       /*var(--p3-c) -> (150,100,250,.75)*/
}

body{text-align: center; margin:0; padding:0; position: relative; background:#987}
.board > *{
    display: inline-block;
    margin: auto;
    transform: perspective(30rem) rotateX(60deg) translateZ(5rem) translateX(-.5rem);
    perspective: 30rem; 
}
.board{height:6rem; position: relative; z-index: 2;}
div{position: relative;}
button{
    width:2rem; height:1.33rem; margin:.42rem .2rem ; position: relative; vertical-align: middle; background-color: lightblue; border:none;
}
.board button i {
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    transform: scaleY(1.5);
}
.row:nth-child(even){ left:1.1rem; position: relative;  }
button::before,
button::after{ border:1rem solid transparent; content:""; border-width:.5rem 1rem .5rem; display: block; position:absolute; left:0 }
button::before{border-top-color: lightblue; top:100%}
button::after{border-bottom-color: lightblue; bottom:100%}
body .c1{background-color:var(--p1-c) !important}
body button.c1:before{border-top-color:var(--p1-c) !important;} 
body button.c1:after{border-bottom-color:var(--p1-c) !important;} 
body .c2{background-color:var(--p2-c) !important}
body button.c2:before{border-top-color:var(--p2-c) !important;} 
body button.c2:after{border-bottom-color:var(--p2-c) !important;}         
body .c3{background-color:var(--p3-c) !important}
body button.c3:before{border-top-color:var(--p3-c) !important;} 
body button.c3:after{border-bottom-color:var(--p3-c) !important;}         
body.c1 button:hover{background-color:rgba(0,150,255,.5)}
body.c1 button:hover:before{border-top-color:rgba(0,150,255,.5) ;} 
body.c1 button:hover:after{border-bottom-color:rgba(0,150,255,.5) ;} 
body.c2 button:hover{background-color:rgba(0,255,200,.5)}
body.c2 button:hover:before{border-top-color:rgba(0,255,200,.5)} 
body.c2 button:hover:after{border-bottom-color:rgba(0,255,200,.5)} 
body.c3 button:hover{background-color:rgba(150,100,250,.5)}
body.c3 button:hover:before{border-top-color:rgba(150,100,250,.5)} 
body.c3 button:hover:after{border-bottom-color:rgba(150,100,250,.5);} 



/*=========================================================================*/
/* ROUND */
/*=========================================================================*/
body button{
    height: 3rem;
    width:3rem;
    border-radius: 50%;
    margin:-.4rem -.2rem;
    opacity: .75;
    background-color: #ba9;
    background-size: 112%;
    background-position: bottom;
    box-shadow: .25rem .25rem .25rem rgba(0,0,0,.5), inset .25rem .25rem .25rem rgba(0,0,0,.5);
}
body button.FOREST{
    background-color:rgb(30, 255, 0);
    background-image: url(/img/FOREST.webp);

}
body button.TREES{
    background-color:rgb(255, 0, 204);
    background-image: url(/img/TREE.jpg);

}
body button.CITY{
    background-color:rgb(175, 0, 0);
    background-image: url(/img/CITY.webp);
    background-size: 180%;
    background-position: center 60%;

}
body button.CAVE{
    background-color:rgb(170, 0, 255);
    background-image: url(/img/CAVE.webp);
}
body button.MOUNTAIN{
    background-color:rgb(0, 64, 227);
    background-image: url(/img/MOUNTAIN.webp);
}
body button.WATER{
    background-color: rgb(255, 0, 174);
    background-color: none;
    box-shadow: none;
    background-image: url(/img/WATERBETTER.jpg);
}
body button.SWAMP{
    background-color: rgb(204, 255, 0);
    background-image: url(/img/SWAMP.webp);
}
body button.PLAIN{
    background-color: rgb(0, 31, 156);
    background-image: url(/img/PLAIN.webp);
}
body button.HILLS{
    background-color: rgb(105, 0, 0);
    background-image: url(/img/HILLS.webp);
}
body button.DESERT{
    background-color: rgb(0, 255, 251);
    background-image: url(/img/HILLS.webp);
}
body button.CITY{
    background-color: rgb(0, 38, 104);
}
body button.BRICK{
    opacity: 1;
    background-color: rgb(25, 0, 255);
    box-shadow: none !important;
}

body button{
    zbackground-color: transparent !important;

}
body .board button>b,
body .board button>b::after,
body .board button>b::before{
    display: block;
    content: '';
    position: absolute;
    top: .6rem;
    left: .3rem;
    right: .3rem;
    bottom: .6rem;
    z-index: 2;
    border-radius: .2rem;
}
body .board button.wE>b{
    border-right: 5px solid ;
}
body .board button.wW>b{
    border-left: 5px solid red;
}
body .board button>b::after,
body .board button>b::before{
    transform: rotate(30deg);
    top: -.4rem;
    bottom: -.4rem;
    left: .25rem;
    right: .25rem;
}
body .board button>b::after{
    transform: rotate(-30deg);
    
    
}
body .board button.wNW>b::after{
    border-top: 5px solid green ;
}
body .board button.wSE>b::after{
    border-bottom: 5px solid violet ;
}
body .board button.wNE>b::before{
    border-top: 5px solid purple;
}
body .board button.wSW>b::before{
    border-bottom: 5px solid orange;
}


html body .board > * {
    transform: none;  zperspective(30rem) rotateX(20deg) translateZ(5rem) translateX(-.5rem);
}
html body .board > * > * { white-space: nowrap;}
body div button::before,
body div button::after {border:none;}